*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  background: url(./tf.jpg) bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 16rem));
  grid-template-rows: repeat(3, 20rem);
  height: 100vh;
  grid-gap: 2rem;
  justify-content: center;
}

.key {
  height: 7rem;
  /* border: .4rem solid black; */
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.65);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
  padding: 1rem 0 1rem 0;
}